@font-face {
  font-family: "micro-library";
  src: url('./micro-library.eot');
  src: url('./micro-library.eot?#iefix') format('eot'),
    url('./micro-library.woff') format('woff'),
    url('./micro-library.ttf') format('truetype'),
    url('./micro-library.svg#micro-library') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ml:before {
  display: inline-block;
  font-family: "micro-library";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.ml-2x { font-size: 2em; }
.ml-3x { font-size: 3em; }
.ml-4x { font-size: 4em; }
.ml-5x { font-size: 5em; }
.ml-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.ml-ant:before { content: "\E001" }
.ml-book-open:before { content: "\E002" }
.ml-books:before { content: "\E003" }
.ml-glyph08:before { content: "\E004" }
.ml-link:before { content: "\E005" }
.ml-people:before { content: "\E006" }
.ml-pin:before { content: "\E007" }
.ml-share:before { content: "\E008" }