body {
  color: #fff;
  background: #0F70B5;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.title > h1,
body > section > h2,
body > footer h2,
.charter {
	font-family: "フォーク M","Folk Medium"
}
